/* File: /frontend/src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap");

/* Rest of your existing index.css */

html,
body {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

.body-container {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#root::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
