/* File: /web/src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap");

/* Rest of your existing index.css */

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  display: none;
}
